@use '../styles/typography' as *;
/**
Radio Tokens Referenced:
--Radio-default-background-color
--Radio-disabled-background-color
--Radio-default-color
--Radio-size
--Radio-button-size

Checkbox Tokens Referenced:
--form-field-checkbox-focus-color
*/

.label {
	display: flex;
	align-items: flex-start;
	gap: var(--spacing-xs);
	cursor: pointer;
	@include body;
	&[aria-disabled='true'] {
		cursor: default;
	}
	&__no-label {
		gap: 0;
	}

	+ label {
		margin-top: var(--spacing-2xs);
	}

	.radio {
		--Radio-default-background-color-local: transparent;
		--Radio-default-color-local: var(--Radio-default-color, #1d1d1d);
		--Radio-disabled-background-color-local: var(--Radio-disabled-background-color, #d0d0d0);
		--Radio-size-local: 16px;
		--Radio-button-size-local: 10px;

		flex: 0 0 var(--Radio-size-local);
		position: relative;
		appearance: none;
		background-color: var(--Radio-default-background-color-local);
		transform: translateY(var(--spacing-4xs));
		font: inherit;
		color: var(--Radio-default-color-local);
		width: var(--Radio-size-local);
		height: var(--Radio-size-local);
		border: 1px solid var(--Radio-default-color-local);
		border-radius: 50%;
		margin: 0;
		cursor: pointer;
		top: 1px; // shim to position the radio inline with the first row of text of the label
		&:focus {
			outline-style: none;
			box-shadow: 0 0 var(--spacing-3xs) 1px var(--form-field-checkbox-focus-color, #14a1ff);
		}
		&:disabled {
			opacity: 0.25;
			background-color: var(--Radio-disabled-background-color-local);
			cursor: default;
		}

		&:before {
			position: absolute;
			content: '';
			top: 50%;
			left: 50%;
			width: 0;
			height: 0;
			border-radius: 50%;
			transform: translate(-50%, -50%);
			transition: 100ms all ease-in-out;
			box-shadow: inset calc(var(--spacing-2xs) + 1px) calc(var(--spacing-2xs) + 1px) var(--Radio-default-color-local);
		}

		&:checked::before {
			width: var(--Radio-button-size-local);
			height: var(--Radio-button-size-local);
		}
	}

	> span {
		align-self: center;
	}
}
