/**
  Carousel Pagination Tokens Referenced:
  --Carousel-default-pagination-background-color
  --Carousel-default-pagination-size
  --Carousel-default-pagination-active-grid-background-color
*/
.carousel-pagination {
	--Carousel-default-pagination-background-color-local: var(--Carousel-default-pagination-background-color, #949494);
	--Carousel-default-pagination-size-local: var(--Carousel-default-pagination-size, 6px);
	--Carousel-default-pagination-active-grid-background-color-local: var(
		--Carousel-default-pagination-active-grid-background-color,
		#1d1d1d
	);

	display: flex;
	margin: var(--spacing-4xs) auto;
	max-width: max-content;

	button {
		background: none;
		border: none;
		cursor: pointer;
		padding: var(--spacing-3xs);
		.grid-indicator {
			background-color: var(--Carousel-default-pagination-background-color-local);
			border-radius: 100vmax;
			display: block;
			margin: 0;
			height: var(--Carousel-default-pagination-size-local);
			width: var(--Carousel-default-pagination-size-local);
		}
		.active-grid {
			background-color: var(--Carousel-default-pagination-active-grid-background-color-local);
		}
	}
}
