/**
  Following are CSS variables that override the display of the carousel that can be set within parent
  components that use the Carousel. This allows for more CSS-driven layout, and less JS-based configuration.

  --carousel-item-spacing - This will define the space between each item being scrolled through on the carousel. (Default: 0px)
  --bleed-spacing - This is the JS-inserted value that defines the spacing to the left of the full-bleed layout
  
  Carousel Design Tokens Referenced:
  --Carousel-default-item-width
  --Carousel-button-icon-color
 */

.container {
	--Carousel-default-item-width-local: var(--Carousel-default-item-width, 30px);
	--Carousel-button-icon-color-local: var(--Carousel-button-icon-color, #1d1d1d);

	position: relative;
	padding: 0;
	width: 100%;

	scrollbar-color: transparent transparent;
	scrollbar-width: none;
	z-index: 1;
	-ms-overflow-style: none;
	outline: none;

	::-webkit-scrollbar {
		width: 0;
	}
	::-webkit-scrollbar-track {
		background: transparent;
	}
	::-webkit-scrollbar-thumb {
		background: transparent;
		border: none;
	}

	&:has(> .slider-nav) {
		padding: 0 var(--spacing-xs);
	}
	.carousel-items {
		display: flex;
		transition-property: transform;
		transition-duration: 300ms;
		scroll-snap-type: x mandatory;
		overflow: auto;
		overflow-y: hidden;
		position: relative;
		gap: var(--carousel-item-spacing, 0px);
		touch-action: pan-y;

		scrollbar-color: transparent transparent;
		scrollbar-width: none;
		-ms-overflow-style: none;

		::-webkit-scrollbar {
			width: 0;
		}
		::-webkit-scrollbar-track {
			background: transparent;
		}
		::-webkit-scrollbar-thumb {
			background: transparent;
			border: none;
		}

		// --carousel-item-width and --carousel-item-count are set in the component

		// get the width of item set in js, or set the default
		--computed-item-width: var(--carousel-item-width, var(--Carousel-default-item-width-local));
		// get the number of items set in js
		--computed-item-count: var(--carousel-item-count, 1);
		// get the spacing between items set in js or set the default
		--computed-carousel-spacing: var(--carousel-item-spacing, 0px);

		// to get the total gap between items we need to take the number of items, less 1, and multiply by the spacing
		--computed-gap-total: calc(var(--computed-carousel-spacing) * (var(--computed-item-count) - 1));

		// take total gap, divide by number of items to get partial gap
		--computed-gap-partial: calc(var(--computed-gap-total) / var(--computed-item-count));
		// take partial gap, subtract from item width to get total width
		--computed-width: calc(var(--computed-item-width) - var(--computed-gap-partial));

		// apply an opacity mask to the edges if there are nav arrows present
		&:has(~ :global(.arrow-nav-actions)) {
			mask-image: linear-gradient(
				to right,
				transparent 0%,
				#000 var(--spacing-3xs) calc(100% - var(--spacing-2xs)),
				transparent 100%
			);
		}

		> div {
			flex: 0 0 auto;
			flex-basis: var(--computed-width, var(--Carousel-default-item-width-local));
			display: flex;
			justify-content: center;
			align-items: center;
			scroll-snap-align: start;

			* {
				-webkit-user-drag: none;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
		}
	}

	.slider-nav {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;

		> button.actions {
			position: absolute;
			transform: translateY(-50%);
			border: none;
			background-color: transparent;
			padding: var(--spacing-xs) 0;
			line-height: 0;
			cursor: pointer;

			&[disabled] {
				cursor: default;
				> svg {
					opacity: 33%;
				}
			}

			&--prev-arrow {
				left: 0;
				transform: translateY(-50%) rotate(180deg);
				&:disabled {
					box-shadow: none;
				}
			}

			&--next-arrow {
				right: 0;
				&:disabled {
					box-shadow: none;
				}
			}

			> svg {
				path {
					stroke: var(--Carousel-button-icon-color-local);
				}
				&--disabled {
					opacity: 33%;
				}
			}
		}
	}

	&.fullbleed {
		&:has(> button) {
			padding: 0;
		}
		.carousel-items {
			> div {
				padding-left: var(--bleed-spacing, 0);
				padding-right: 0;
			}
		}
	}
}
