@use '../styles/breakpoints.scss' as breakpoints;
/**
  Carousel RoundNavActions Tokens Referenced:
  --Carousel-round-pagination-background-color
  --Carousel-round-pagination-text-color
  --Carousel-round-pagination-size

  Global Tokens Referenced:
  --color-input-focus-shadow
*/

.slider-nav {
	--Carousel-round-pagination-size-local: var(--Carousel-round-pagination-size, 32px);
	--Carousel-round-pagination-background-color-local: var(--Carousel-round-pagination-background-color, #ffffff);
	--Carousel-round-pagination-text-color-local: var(--Carousel-round-pagination-text-color, #1d1d1d);

	position: absolute;
	top: calc(50% - calc(var(--Carousel-round-pagination-size-local) / 2));
	left: 10px;
	right: 10px;
	z-index: 1;
	&[data-pagination='true'] {
		// TODO: Make this a little more dynamic
		transform: translateY(-11px);
	}

	@include breakpoints.bp-desktop-up {
		left: var(--spacing-sm);
		right: var(--spacing-sm);
	}

	> button {
		position: absolute;
		cursor: pointer;
		background-color: var(--Carousel-round-pagination-background-color-local);
		border: none;
		border-radius: 50%;
		box-shadow: 0 0 8.75px rgb(29 29 29 / 20%);
		height: var(--Carousel-round-pagination-size-local);
		width: var(--Carousel-round-pagination-size-local);
		outline: none;
		padding: 0;
		z-index: 2;
		right: 0;
		color: var(--Carousel-round-pagination-text-color-local);
		> svg {
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			left: calc(50% + 1px);
		}

		&:disabled,
		&:global(.swiper-button-disabled) {
			display: none;
		}

		&:focus-visible {
			outline: none;
			box-shadow: 0 0 4px 2px var(--color-input-focus-shadow, #14a1ff);
		}

		&:first-of-type {
			left: 0;
			> svg {
				top: 50%;
				left: 0;
				transform: scaleX(-1) translate(-50%, -50%);
			}
		}
	}
}
