.autocomplete-field {
	width: 100%;
	display: inline-block;
	position: relative;
	.autocomplete-item-container {
		--AutocompleteInput-container-background-color-local: var(--AutocompleteInput-container-background-color, #ffffff);
		--AutocompleteInput-container-default-text-color-local: var(
			--AutocompleteInput-container-default-text-color,
			#5f5f5f
		);
		--AutocompleteInput-container-default-border-color-local: var(
			--AutocompleteInput-container-default-border-color,
			#1d1d1d
		);
		--AutocompleteInput-container-selected-text-color-local: var(
			--AutocompleteInput-container-selected-text-color,
			#1d1d1d
		);
		--AutocompleteInput-container-selected-background-color-local: var(
			--AutocompleteInput-container-selected-background-color,
			#f0f0f0
		);

		border: solid 1px var(--AutocompleteInput-container-default-border-color-local);
		border-radius: 0 0 4px 4px;
		position: absolute;
		top: var(--Button-height);
		right: 0;
		left: 0;
		background: var(--AutocompleteInput-container-background-color-local);
		padding: var(--spacing-2xs);
		margin: 0;
		z-index: 1000;
		li {
			list-style-type: none;
			border-radius: 4px;
			padding: var(--spacing-2xs);
			color: var(--AutocompleteInput-container-default-text-color-local);
			&[aria-selected='true'] {
				background: var(--AutocompleteInput-container-selected-background-color-local);
				color: var(--AutocompleteInput-container-selected-text-color-local);
				font-weight: var(--font-semibold);
			}
		}
	}

	.subtext {
		font-size: var(--font-size-subtext);
		margin: var(--spacing-3xs) 0;
		width: 100%;
	}
}
