/**
Icon Tokens Referenced:
--IconButton-padding
*/

/* Increase specificity by targeting button element with icon_button class */
button.icon_button,
a.icon_button {
	--IconButton-padding-local: var(--IconButton-padding, 8px);
	--IconButton-size: calc(var(--icon-button-size) + calc(var(--icon-button-padding) * 2));
	width: var(--IconButton-size);
	--Button-height: var(--IconButton-size);
	min-width: var(--IconButton-size);
	padding: var(--icon-button-padding);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	contain: layout style paint;

	svg {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		/* Enforce SVG's intrinsic width/height attributes */
		width: auto;
		height: auto;
		max-width: none;
		max-height: none;
		min-width: 0;
		min-height: 0;
		flex-shrink: 0;
	}

	&[data-variant='text'] {
		padding: var(--spacing-2xs, 8px);
	}

	&[data-size='XS'] {
		--icon-button-size: 12px;
		--icon-button-padding: var(--IconButton-padding-local);
	}
	&[data-size='SM'] {
		--icon-button-size: 16px;
		--icon-button-padding: var(--IconButton-padding-local);
	}
	&[data-size='MD'] {
		--icon-button-size: 24px;
		--icon-button-padding: calc(var(--IconButton-padding-local) * 1.5);
	}
	&[data-size='LG'] {
		--icon-button-size: 32px;
		--icon-button-padding: calc(var(--IconButton-padding-local) * 2);
	}
	&[data-size='XL'] {
		--icon-button-size: 40px;
		--icon-button-padding: calc(var(--IconButton-padding-local) * 2);
	}
	&[data-size='XXL'] {
		--icon-button-size: 48px;
		--icon-button-padding: calc(var(--IconButton-padding-local) * 2);
	}
}
