@use '../styles/breakpoints' as breakpoints;
@use '../styles/typography' as *;

/**
Global Tokens Referenced:
--base-error-text-color
*/

.actions[role='group'] {
	display: flex;
	align-items: center;
	gap: var(--spacing-2md);
	margin-top: var(--spacing-xs) !important;

	> button[data-variant='text'] {
		color: inherit;
		@include body(var(--font-semibold));
		@include anchor-underline;

		@include breakpoints.bp-desktop-up {
			text-decoration: none;
		}

		@media (hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.card-error {
	@include subtext;
	color: var(--base-error-text-color, #dc0019);
	margin: var(--spacing-2xs) 0;
}
