/**
Custom Loader Tokens Referenced:

--color-screen-background

*/

.loader-base {
	--loading-delay: 0.5s;

	.curtain {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: var(--color-screen-background, rgba(0 0 0 / 0.5));
		z-index: 2001;
		transition: opacity 0.25s;
	}

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 1;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2002;
	}

	&.show-intent {
		> .curtain,
		> .container {
			visibility: hidden;
			opacity: 0;
			transition: visibility 0.25s linear, opacity 0.25s linear;
			transition-delay: var(--loading-delay);
		}
	}
	&.loader-base--show {
		> .curtain {
			visibility: visible;
			opacity: 1;
		}

		> .container {
			visibility: visible;
			opacity: 1;
		}
	}
}
