@use '../styles/breakpoints.scss' as breakpoints;
@use '../styles/typography' as *;

.radio-selection-container {
	width: 100%;
	display: flex;
	align-items: flex-start;
	gap: 0 var(--spacing-xs);
	@include h6();
	cursor: pointer;

	@include breakpoints.bp-large-desktop-up {
		gap: var(--spacing-xs);
	}

	.input-slot {
		flex-basis: var(--spacing-xs);
		flex-grow: 0;
	}

	p {
		margin: 0;
		word-break: break-all;
	}

	.label-text {
		flex-grow: 1;
		display: flex;
		gap: var(--spacing-2xs);

		@include breakpoints.bp-desktop-down {
			flex-direction: column;
			gap: 0;
			@include body;
		}
	}

	.edit-button {
		flex-grow: 0;
		@include anchor-underline;
		margin-left: auto;

		@include breakpoints.bp-desktop-down {
			align-self: flex-start;
			@include body(var(--font-semibold));
		}
	}
}
