@use '../styles/typography' as *;

/**
Tooltip Design Tokens Referenced:

--Tooltip-background-color
--Tooltip-text-color
--Tooltip-width
--Tooltip-arrow-size
*/

@mixin containerPositioning {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.25s linear, opacity 0.25s linear;
	transition-delay: 0.25s;
	position: absolute; // Note: Positioned with respect to root wrapping element (i.e., `[data-tooltip]`)
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
}

.tooltip[data-tooltip] {
	--Tooltip-background-color-local: var(--Tooltip-background-color, #1d1d1d);
	--Tooltip-text-color-local: var(--Tooltip-text-color, #ffffff);
	--Tooltip-width-local: var(--Tooltip-width, 288px);
	--Tooltip-arrow-size-local: var(--Tooltip-arrow-size, 8px);

	--arrow-offset: calc(var(--Tooltip-arrow-size-local) + 2px);

	// Root Element Styles
	position: relative;
	display: inline-flex;

	> button[type='button'] {
		width: 100%;
		height: 100%;
		border: none;
		outline: none;

		display: inline-flex;
		cursor: pointer;
		background-color: transparent;

		&:is(:hover, :focus):not(.disable-tooltip-on-hover) + [role='tooltip'],
		&:is(:hover, :focus):not(.disable-tooltip-on-hover) .tooltip-arrow,
		&.show-tooltip + [role='tooltip'],
		&.show-tooltip .tooltip-arrow {
			visibility: visible;
			opacity: 1;
		}

		.tooltip-arrow {
			@include containerPositioning;
			border: var(--Tooltip-arrow-size-local) solid transparent;
			z-index: 11;
		}

		+ [role='tooltip'] {
			@include containerPositioning;
			@include body();
			width: var(--Tooltip-width-local);
			padding: var(--spacing-xs);
			border: 1px solid var(--Tooltip-background-color-local);

			color: var(--Tooltip-text-color-local);
			background-color: var(--Tooltip-background-color-local);

			/*
			 * Note: This only works when the main tooltip content is only a text node. If the main tooltip content
			 * ever needs to be _permanently_ changed to an _element_ filled with text, then this CSS selector should
			 * be changed to `> :first-child:not(:only-child)`
			 */
			> :first-child {
				margin-bottom: var(--spacing-2xs);
			}
		}
	}

	&[data-location='bottom'] {
		> button[type='button'] {
			> .tooltip-arrow {
				bottom: calc(var(--arrow-offset) * -1);
				border-bottom-color: var(--Tooltip-background-color-local);
			}
			+ [role='tooltip'] {
				top: calc(100% + var(--arrow-offset));
			}
		}
	}

	&[data-location='top'] {
		> button[type='button'] {
			> .tooltip-arrow {
				top: calc(var(--arrow-offset) * -1);
				border-top-color: var(--Tooltip-background-color-local);
			}
			+ [role='tooltip'] {
				bottom: calc(100% + var(--arrow-offset));
			}
		}
	}

	&[data-location='right'] {
		> button[type='button'] {
			> .tooltip-arrow {
				left: calc(100% + 2px);
				top: 0;
				border-right-color: var(--Tooltip-background-color-local);
			}
			+ [role='tooltip'] {
				left: calc(100% + var(--arrow-offset));
				transform: translateX(0) translateY(-50%);
			}
		}
	}

	&[data-location='left'] {
		> button[type='button'] {
			> .tooltip-arrow {
				right: calc(-100% + var(--arrow-offset));
				top: 0;
				border-left-color: var(--Tooltip-background-color-local);
			}
			+ [role='tooltip'] {
				left: calc(100% - var(--spacing-md) + 2px);
				top: 100%;
				transform: translateX(-100%) translateY(-50%);
			}
		}
	}
}
