@use '../styles/typography' as *;
/**
Select Tokens Referenced:
--Select-block-count
--Select-base-padding
--Select-option-height
--Select-icon-size
--Select-height
--Select-text-color
--Select-background-color
--Select-icon-color
--Select-default-color
--Select-active-color
--Select-active-background-color
--Select-error-color

Global Tokens Referenced:
--color-input-focus-shadow
*/

.select {
	--Select-block-count-local: var(--Select-block-count, 6);
	--Select-base-padding-local: var(--Select-base-padding, 16px);
	--Select-option-height-local: var(--Select-option-height, 32px);
	--Select-icon-size-local: var(--Select-icon-size, 14px);
	--Select-height-local: var(--Select-height, 44px);
	--Select-text-color-local: var(--Select-text-color, #1d1d1d);
	--Select-background-color-local: var(--Select-background-color, #ffffff);
	--Select-icon-color-local: var(--Select-icon-color, #1d1d1d);
	--Select-default-color-local: var(--Select-default-color, #5f5f5f);
	--Select-active-color-local: var(--Select-active-color, #1d1d1d);
	--Select-active-background-color-local: var(--Select-active-background-color, #f0f0f0);
	--Select-error-color-local: var(--Select-error-color, #dc0019);

	--Select-border-width: 1px;
	--Select-border-radius: 4px;

	height: inherit;
	min-height: inherit;
	width: inherit;
	position: relative;
	display: inline-block;
	color: var(--Select-text-color-local);
	font-size: var(--font-size-body);

	/* -------------------- Combobox -------------------- */
	> button[type='button'][role='combobox'] {
		font-family: var(--font-default), sans-serif;
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		box-sizing: border-box;
		width: 100%;
		height: var(--Select-height);
		min-height: inherit;
		padding: calc(0.5 * var(--Select-base-padding-local)) var(--Select-base-padding-local);
		border: var(--Select-border-width) solid var(--Select-default-color-local);
		border-radius: var(--Select-border-radius);

		cursor: pointer;
		text-align: left;
		color: inherit;
		background-color: var(--Select-background-color);

		@include h6;

		&:is([aria-invalid='true']),
		&:has(+ [aria-invalid='true']) {
			border-color: var(--Select-error-color-local);
		}
		> :first-child {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		> svg[data-caret-icon] {
			width: var(--Select-icon-size-local);
			height: 100%;
			color: var(--Select-icon-color-local);
			transform-origin: center;
			transform: rotate(180deg);
			transition: transform 0.25s ease-in-out;
			> line {
				stroke-width: 8px;
			}
		}

		@media (hover: hover) {
			&:hover:where(:not(:disabled, :has(+ [aria-invalid='true']))) {
				border-color: var(--Select-active-color-local);

				> svg[data-caret-icon] {
					color: var(--Select-active-color-local);
				}
			}
		}

		&:disabled {
			cursor: default;
		}

		&:focus-visible {
			outline: none;
			border-color: var(--Select-active-color-local);
			box-shadow: 0 0 4px 2px var(--color-input-focus-shadow, #14a1ff);

			> svg[data-caret-icon] {
				color: var(--Select-active-color-local);
			}
		}

		&[aria-expanded='true'] {
			border-color: var(--Select-active-color-local);
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;

			> svg[data-caret-icon] {
				color: var(--Select-active-color-local);
				transform: rotate(0deg);
			}
		}

		/* -------------------- Listbox -------------------- */
		+ ul[role='listbox'] {
			position: absolute;
			z-index: 2;

			box-sizing: border-box;
			width: 100%;
			max-height: calc(
				var(--Select-option-height-local) * var(--Select-block-count-local) + var(--Select-base-padding-local) +
					var(--Select-border-width) * 2
			);
			padding: calc(0.5 * var(--Select-base-padding-local));
			border: var(--Select-border-width) solid var(--Select-active-color-local);
			border-top: 0;
			border-radius: var(--Select-border-radius);
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			margin: 0;

			overflow: auto;
			list-style: none;
			background-color: var(--Select-background-color-local);

			> li[role='option'] {
				@include body();
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: var(--spacing-3xs);

				box-sizing: border-box;
				height: var(--Select-option-height-local);
				padding: calc(0.5 * var(--Select-base-padding-local));
				border-radius: var(--Select-border-radius);
				cursor: pointer;
				color: var(--Select-default-color-local);

				> svg {
					display: none;
					path {
						stroke-width: 1;
					}
				}

				&[data-active='true'] {
					color: var(--Select-active-color-local);
					background-color: var(--Select-active-background-color-local);
				}

				&[aria-selected='true'] {
					color: var(--Select-text-color-local);
					justify-content: space-between;

					svg {
						display: block;
					}
				}

				&[aria-disabled='true'] {
					cursor: default;
					opacity: 0.6;
				}
			}
		}
	}

	&:has(fieldset) {
		> button[type='button'][role='combobox'] {
			border: 0;
			background-color: transparent;

			&:is([aria-invalid='true']) ~ fieldset,
			&:has(+ [aria-invalid='true']) ~ fieldset {
				border-color: var(--Select-error-color-local);
			}

			@media (hover: hover) {
				&:hover:where(:not(:disabled, :has(+ [aria-invalid='true']))) ~ fieldset {
					border-color: var(--Select-active-color-local);
				}
			}

			&:focus-visible ~ fieldset {
				border-color: var(--Select-active-color-local);
			}

			&[aria-expanded='true'] ~ fieldset {
				border-color: var(--Select-active-color-local);
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
			}
		}

		input[type='text'] {
			&[aria-invalid='true'] + button ~ fieldset,
			&[aria-invalid='true'] + button:hover ~ fieldset {
				border-color: var(--Select-error-color-local);
			}
		}

		> fieldset {
			pointer-events: none;
			position: absolute;
			top: 0;
			left: 0;
			box-sizing: border-box;
			width: 100%;
			height: var(--Select-height);
			margin: 0;
			padding: 0;
			border: var(--Select-border-width) solid var(--Select-default-color-local) !important;
			border-radius: var(--Select-border-radius);

			legend {
				position: relative;
				height: 1px;
				font-size: var(--font-size-subtext);
				padding: 0 var(--form-field-label-padding);
				margin-left: var(--form-field-label-offset);
				top: calc(-1 * var(--spacing-2xs));
			}
		}
	}

	.untouched-label {
		color: var(--Select-default-color-local);
		font-size: var(--font-size-h6);
		font-weight: var(--font-regular);
	}
	input[type='text'] {
		position: absolute;
		opacity: 0;
		height: 44px;
		z-index: -1;
		&[aria-invalid='true'] + button,
		&[aria-invalid='true'] + button:hover {
			border-color: var(--Select-error-color-local);
		}
	}
}
