/**
ArcScale Design Tokens Referenced:

--ArcScale-background-color
--ArcScale-fill-color
*/

.arc {
	--ArcScale-background-color-local: var(--ArcScale-background-color, #d0d0d0);
	--ArcScale-fill-color-local: var(--ArcScale-fill-color, #dc0019);

	> path:nth-child(1) {
		stroke: var(--ArcScale-background-color-local);
	}

	> path:nth-child(2) {
		stroke: var(--ArcScale-fill-color-local);
		opacity: 0;

		&.show {
			opacity: 1;
		}
	}
}
