/**
CircularProgress Design Tokens Referenced:

--CircularProgress-color
*/

.circular-progress-wrapper {
	--animation-duration: 1.4s;
	--CircularProgress-color-local: var(--CircularProgress-color, #1976d2);

	width: var(--loader-size, var(--spacing-xs));
	height: var(--loader-size, var(--spacing-xs));
	display: inline-block;
	color: var(--CircularProgress-color-local);
	animation: circular-loading-animation var(--animation-duration) linear infinite;
	> svg {
		> circle {
			stroke: currentColor;
			stroke-dasharray: 80px, 200px;
			stroke-dashoffset: 0;
			animation: circle-animation var(--animation-duration) ease-in-out infinite;
		}
	}

	@keyframes circular-loading-animation {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	@keyframes circle-animation {
		0% {
			stroke-dasharray: 1px, 200px;
			stroke-dashoffset: 0;
		}
		50% {
			stroke-dasharray: 100px, 200px;
			stroke-dashoffset: -15px;
		}
		100% {
			stroke-dasharray: 100px, 200px;
			stroke-dashoffset: -125px;
		}
	}
}
