/**
DropPanel Tokens Referenced:
--DropPanel-title-height
--DropPanel-background-color
--DropPanel-text-color
--DropPanel-title-background-color
--DropPanel-title-text-color
--DropPanel-border-color

Global Tokens Referenced:
--color-screen-background
*/

.dropPanel {
	--DropPanel-title-height-local: var(--DropPanel-title-height, 54px);
	--DropPanel-background-color-local: var(--DropPanel-background-color, #ffffff);
	--DropPanel-text-color-local: var(--DropPanel-text-color, #1d1d1d);
	--DropPanel-title-background-color-local: var(--DropPanel-title-background-color, #ffffff);
	--DropPanel-title-text-color-local: var(--DropPanel-title-text-color, #1d1d1d);
	--DropPanel-border-color-local: var(--DropPanel-border-color, #d0d0d0);

	--visibility-timing: 300ms;
	position: relative;

	&--screen {
		position: fixed;
		z-index: 99;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background: var(--color-screen-background, rgba(0 0 0 / 0.5));
		visibility: hidden;
		opacity: 0;
		transition: visibility var(--visibility-timing) linear, opacity var(--visibility-timing) linear;
		transition-delay: 0;

		&-show {
			visibility: visible;
			opacity: 1;
		}
	}

	&--details {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 100;
		border-bottom: 1px solid var(--DropPanel-border-color-local);
		background: var(--DropPanel-background-color-local);
		align-items: center;
		> div {
			color: var(--DropPanel-text-color-local);
			> [role='button'] {
				border-top: none !important; // Accordion override
				svg[data-caret-icon] {
					margin-right: var(--spacing-2xs);
				}
			}
			> [role='region'] {
				// calculating the screen height minus the safe area bottom and the checkout page heading nav heights
				width: 100vw;
				max-height: calc(
					100dvh - var(--safe-margin-bottom, 0px) - calc(var(--spacing-lg) * 2) - var(--spacing-3md)
				) !important;
				padding-bottom: 0 !important;
				border-bottom: 1px solid var(--DropPanel-border-color-local);
				border-radius: 0 0 var(--spacing-xs) var(--spacing-xs);
				box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0);
				position: absolute;
				background: var(--DropPanel-background-color-local);
				> div {
					overflow: hidden auto !important; // Accordion override
				}
			}
			&[aria-expanded='true'] {
				> [role='region'] {
					width: 100%;
					box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.5);
					margin-top: 1px;
				}
			}

			> [role='button'] {
				border-top: 1px solid var(--DropPanel-border-color-local);
				background: var(--DropPanel-background-color-local);
				padding: 0;
				margin: 0;
				border-radius: 0;
				box-shadow: none;
				display: flex;
				align-items: center;
				justify-content: space-between;
				cursor: pointer;
				gap: var(--spacing-3xs) !important; // Accordion override
				width: 100%;
				height: var(--DropPanel-title-height-local);
				> svg {
					transform: rotate(90deg) scale(0.9);
					transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
					color: var(--DropPanel-text-color-local);
					&:hover {
						animation: pulse 1s infinite;
					}
				}
			}
		}
		summary {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-weight: var(--font-semibold);
			font-size: var(--font-size-body);
			height: var(--DropPanel-title-height-local);
			padding: 0 0 0 var(--spacing-xs);
			background: var(--DropPanel-title-background-color-local);
			color: var(--DropPanel-title-text-color-local);
			cursor: pointer;

			&::-webkit-details-marker {
				display: none;
			}
		}
	}

	&.inline {
		.dropPanel--details {
			z-index: 1;
			position: relative;
			> div {
				> [role='region'] {
					width: 100%;
				}
			}
		}

		.dropPanel--screen {
			&-show {
				display: none;
			}
		}
	}
}
